<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Analysis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   
</head>
<body>
    <h1>Complaint Analysis</h1>
    <div class="chart-container">
        <img src="{{ chart_uri }}" alt="Complaint Chart">
    </div>
     <div class="chart-container">
        <img src="{{ pie_chart_uri }}" alt="Complaint Chart">
    </div>

    <h2>Latest Complaints</h2>
    <table>
        <tr>
            <th>Department</th>
            <th>Description</th>
            <th>Created At</th>
        </tr>
        {% for complaint in latest_complaints %}
        <tr>
            <td>{{ complaint.department }}</td>
            <td>{{ complaint.description }}</td>
            <td>{{ complaint.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
